body{
	font-family: 'Oswald', sans-serif;
}
header{
	background: #B1B1B1;
	padding: 20px;
}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}
h1 img{
	height: 150px;
}
nav{
	position: absolute;
	top: 75px;
	right: 0;
}
nav li {
	display: inline;
	margin: 0 0 0 15px;
}
nav a {
	text-transform: uppercase;
	color:  #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}	
nav a:hover{
	color: #98705D
;
	text-decoration: underline;
}
body{
	background: #B1B1B1;
}
.banner {
	width:100%;
}
.titulo-principal {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 1em;
	clear: left;
	color: rgba(0,0,0,0.5);
}
.utensilios {
	width: 80px;
	float: left;
	margin: 0 20px 20px 0px;
	
}
.principal{
	width: 960px;
	margin: 2em auto;
}

.principal p {
	margin: 0 0 0;
	font-size: 18px;
	text-align: justify;
	line-height: 2em;
}
.principal em{
	font-style: italic;
}
.principal strong{
	font-weight: bold;
}
.missao{
	margin: 20px 0px;
	padding: 20px 10px;
	font-size: 20px;
	font-style: italic;
	
}

#missao1{
	text-align: center;
}
#missao2{
	
	text-align: center;
	color: #98705D;
}

.beneficios {
	padding: 20px;
	background: linear-gradient(#B1B1B1, #FEFEFE, white);
	
	
}
.beneficio2{
	width: 960px;
	margin: 2em auto;
}
.imagembeneficios {
	width: 50%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 30px black;

}
.imagembeneficios:hover{
	opacity: 0.7;
	transition: 400ms;

}
.lista-beneficios {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	text-align: justify;
}
.itens {
	line-height: 53px;
	font-size: 20px;
}
.itens:first-child{
	font-weight: bold;
}
.itens::before{
	content: "❉";
}
.video{
	width: 960px;
	margin: 2em auto;
}
.mapa{
	padding-bottom: 2em;
	background:white;
}
.maps{
	width: 960px;
	margin: 0 auto;
}
.mapa p{
	margin-bottom: 20px;
	text-align: center;
}
footer{
	background-image: url("bg.jpg");
	text-align: center;
	padding: 40px 0;
}
footer img{
	height: 200px;
}
footer p{
	color: white;
	font-size: 13px;
	margin-top: 20px;
}
.logo2{
	display: block;
	width: 80px;
	margin: 0 auto;
}
@media screen and (max-width: 480px){
	.caixa,.principal,.beneficio2,.maps,.video{
		width: auto;
	}
	h1{
		text-align: center;
	}
	nav{
		position: static;
	}
	nav ul{
		text-align: center;
	}
	.principal{
		margin: 20px 10px;
	}
	.missao,.beneficio2{
		padding: 0 0;
		margin: 0 0;
	}
	.video{
		margin: 40px 0;
	}
	.lista-beneficios, .imagembeneficios{
		width: 100%;
	}
	.maps{
		margin: 0 20px;
	}
	footer{
		padding: 20px 0;
	}
    